<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="author" content="Montier Kess" />
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel='shortcut icon' href='crown-v2.png' type='image/png' />
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  

  <!-- <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}"> -->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <!-- Font Stylesheets -->
  <!-- <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'> -->
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/styles/font.css" />
  <!-- <link href='http://fonts.googleapis.com/css?family=Lato:100,400,700' rel='stylesheet' type='text/css'> -->
  <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>

  <!-- Stylesheets -->
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/styles/normalize.css" />
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/styles/main.css" />
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/styles/trailer.css" />
  <!-- Blog Stylesheet -->
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/styles/blog.css" />
  <!-- <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/styles/mailchimp-form.css" /> -->
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/styles/mailchimp-form2.css" />
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/styles/social-icons.css" />
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/styles/toggle-width.css" />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

</head>
<header>
<div class="wrapper">
  <div class="row">
    
    <div class="topbar">
      <div class="menu-here">
        <a href="#" class="hamburger-menu">
          &equiv;
        </a>

        <nav class="menu">
          <ul class="menu-body">
            <li><a href="{{ site.baseurl }}/" class="fa fa-home">&nbsp;&nbsp;&nbsp;<span style="color: white;">Home</span></a></li>
            <li><a href="{{ site.baseurl }}/blog/" class="fa fa-newspaper-o">&nbsp;&nbsp;&nbsp;<span style="color: white;">Updates</span></a></li>
            <li><a href="{{ site.baseurl }}/trailer/" class="fa fa-video-camera">&nbsp;&nbsp;&nbsp;<span style="color: white;">Trailer</span></a></li>
            <li><a href="{{ site.baseurl }}/contact/" class="fa fa-envelope">&nbsp;&nbsp;&nbsp;<span style="color: white;">Contact</span></a></li>
            <li><img class="menu-logo" src="/images/tmp-logo-white.png" height="90%" width="90%"/></li>
            <li class="main-copy copy">Copyright 2015.</li>
            <li class="copy">Made with &nbsp;<span class="fa fa-heart brand-color">&nbsp; </span>Baltimore</li>
          </ul>
        </nav>
      </div>

      <div class="topbar-title">
        The Thug Myth Project
      </div>
    </div>
  </div>
</header>
    
