---
layout: default
---
<div class="hero-section img-bg clearfix">
    <div class="post-icon"><img src="/images/bravery-symbol-v2.png"/></div>
    <div class="page-main-title"><a href="{{ site.baseurl }}/blog"><span class="thug">thug</span> myth project updates</a></div>
</div>	
<div class="single-post-container">
    <h1 class="post-title">{{ page.title }}</h1>
    <div class="post-time">{{ page.time }}</div>
	{{% if page.cover_img %}}
    <div class="single-post-img" style="background-image: url({{ page.cover_image }})"></div>
    {{% endif %}}
  	<article class="post-content">
    {{ content }}
	</article>
  
    <p class="post-meta"> Written {{ page.date | date: "%B %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}<br/><br/>
    <a href="{{ site.baseurl }}/blog/" title="Back to Blog"><i class="fa fa-th-large fa-lg"></i></a></p>
    </article>
</div>
