/* ====
=== MAIN SECTION === */

body {
    /*font-family: 'Courier', sans-serif;*/
    font-family: 'SpecialElite', sans-serif;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ====
=== GRID SECTION === */

*, *:after, *:before {
    box-sizing: border-box;
}

[class^="col-"] {
    float: left;
    margin: 0 3.84615384615% 0 0;
    list-style: none;
    position: relative;
}

[class^="col-"]:last-child {
    margin: 0;
}

.col-1 { width: 4.8076923077% }
.col-2 { width: 13.4615384615% }
.col-3 { width: 32% }
.col-4 { width: 30.7692307692% }
.col-5 { width: 40% } /*default = 39.4230769231 */
.col-6 { width: 49% }
.col-7 { width: 59% } /* default = 56.7307692308 */
.col-8 { width: 65.3846153846% }
.col-9 { width: 74.0384615385% }
.col-10 { width: 82.6923076923% }
.col-11 { width: 91.3461538462% }
.col-12 { width: 100%; margin: 0 }

.content {
    margin: 0 auto;
    width: 100%;
}

.wrapper {
    height: 100%;
    position: relative;
}

.row {
    clear: both;
    max-width: 100%;
    margin: 0 auto;
}

.topbar {
    padding: 10px 0;
    background-color: black;
    z-index: 200;
    position: fixed;
    width: 100%;
    top: 0;
}

.topbar-title {
    color: white;
    text-align: center;
    font-weight: lighter;
    /*font-family: 'Lato', sans-serif;*/
    font-size: .85em;
    text-transform: uppercase;
}


/* ===========MENU============= */
.hamburger-menu {
    float: left;
    padding-left: 30px;
    text-decoration: none;
    color: white;
    font-size: 3em;
    top: -15px;
    position: absolute;
    /*padding: 0.01em 0.9em;*/
}

.menu {
    display: none;
    width: 318px;
    float: left;
    background: black;
    /*font-family: 'SpecialElite', sans-serif;*/
}

.menu-here {
    position: fixed;
    z-index: 3;

}

.menu-body {
    padding-top: 30px;
    height: 525px;
}

.menu-body a {
    font-size: 1.1em;
    text-decoration: none;
    color: #ff6f6f;
    padding: 6% 0;
    text-transform: uppercase;
    letter-spacing: -1px;

}

.menu-text {
    color: white;
    font-family: 'SpecialElite',sans-serif;
}

.menu-body a:hover {
    text-decoration: line-through;
    width: 20%;
}

.brand-color {
    color: #ff6f6f;
}

.menu-logo {
    width: 77%;
    padding: 34px 0 0 20px;
}

.main-copy {
    margin-top: 30px;
}

.copy {
    color: white;
    padding-top: 2px;
    text-align: center;
    list-style-type: none;
    padding-right: 12%;
    font-weight: lighter;
    text-transform: uppercase;
    font-size: .8em;
}
/* ====
=== LEFT COLUMN === */

.left-column {
    position:fixed;
    top:0;
    left:0;
    width:50%;
    height:100%;
    color: white;
}

.bg {
   background-image:url("../images/home-hero-v2.jpg");
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;
  background-position:center top;  
}

.triangle-bottomleft { 
   width: 0; 
   height: 0; 
   border-bottom: 740px solid rgba(255,111,111,0.5); 
   border-right: 710px solid transparent; 
   overflow: hidden;
}

.triangle-down-left {
    width: 25%;
    height: 0;
    padding-bottom: 25%;
    overflow: hidden;
}
.triangle-down-left:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-right: 500px solid transparent;
    border-bottom: 500px solid #4679BD;
}

.triangle {
    width: 65vw;
    height: 205vw;
    position: absolute;
    top: -50vw;
    transform: rotate(45deg);
    background: purple;
}

/* ====
=== RIGHT COLUMN === */
#mc_embed_signup_scroll {
    font-family: 'SpecialElite',sans-serif;
}

.right-column {
margin-left:52%;  
  min-height:100%;
}

.logo-section {
    padding: 18% 0;
    margin: 30px auto;
    width: 36%;
}

.tmplogo {
    background-image: url('../images/tmp-logo.png');
    background-size: cover;
}

.right-container {
    width: 90%;
    margin: 0 auto;
}

.blurb-text {
    margin: 6% auto;
    line-height: 1.9em;
    font-size: 1em;
    /*font-family: 'Courier',sans-serif;*/
}

/* Mailbox Styling - see mailchimp-form2.css */
.mailbox {
    width: 90%;
}

.social-row {
    width: 36%;
    margin: 10% auto;
    list-style: none;
    /*display: inline-block;*/
}

.social {

}

/* Social Icons Styling - see social-icons.css */

/* Footer */
.bottom {
    background: black;
    padding: 2% 0;
}
/* End of Footer */



/* ====
=== THEME ELEMENTS === */

.section-separator {
    margin: 15% auto 0;
    /*border-top: 2px solid black;*/
    width: 30%;
}

/* ====
=== RESPONSIVE STYLING === */

@media screen and (max-width: 1196px) {
    .triangle-bottomleft {
        border-right: 550px solid transparent; 
    }
}

@media screen and (max-width: 1000px) {
    .right-column {
        margin-left: 0;
    }

    .left-column {
        display: none;
    }
}

@media screen and (max-width: 590px) {
    .social-row {
        /*width: 3em;*/
    }

    .topbar-title {
        float: right;
        padding-right: 20px;
    }
}
