/* ====
=== MAIN SECTION === */

body {
    font-family: 'Lato', sans-serif;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ====
=== GRID SECTION === */

*, *:after, *:before {
    box-sizing: border-box;
}

[class^="col-"] {
    float: left;
    margin: 0 3.84615384615% 0 0;
    list-style: none;
    position: relative;
}

[class^="col-"]:last-child {
    margin: 0;
}

.col-1 { width: 4.8076923077% }
.col-2 { width: 13.4615384615% }
.col-3 { width: 32% }
.col-4 { width: 30.7692307692% }
.col-5 { width: 40% } /*default = 39.4230769231 */
.col-6 { width: 49% }
.col-7 { width: 59% } /* default = 56.7307692308 */
.col-8 { width: 65.3846153846% }
.col-9 { width: 74.0384615385% }
.col-10 { width: 82.6923076923% }
.col-11 { width: 91.3461538462% }
.col-12 { width: 100%; margin: 0 }

.content {
    margin: 0 auto;
    width: 100%;
}

.wrapper {
    height: 100%;
    position: relative;
}

.row {
    clear: both;
    max-width: 100%;
    margin: 0 auto;
}

/* ====
=== LEFT COLUMN === */

.left-column {
    position:fixed;
    top:0;
    left:0;
    width:50%;
    height:100%;
    /*background:#090909;*/
    color: white;
}

.bg {
   background-image:url("../images/marching-band-bmore.jpg");
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;
  background-position:center top;  
}

/* ====
=== RIGHT COLUMN === */
.right-column {
margin-left:52%;  
  min-height:100%;
}

.logo-section {
    padding: 18% 0;
    margin: 0 auto;
    width: 36%;
}

.tmplogo {
    background-image: url('../images/tmp-logo.png');
    background-size: cover;
}

.right-container {
    width: 90%;
    margin: 0 auto;
}

.blurb-text {
    margin: 6% auto;
    line-height: 1.9em;
    font-size: 1em;
}

/* Mailbox Styling - see mailchimp-form2.css */
.mailbox {
    width: 90%;
}

.social-row {
    width: 36%;
    margin: 2% auto;
}

/* Social Icons Styling - see social-icons.css */

/* ====
=== THEME ELEMENTS === */

.section-separator {
    margin: 15% auto 0;
    border-top: 2px solid black;
    width: 30%;
}

/* ====
=== RESPONSIVE STYLING === */

@media screen and (max-width: 620px) {
    .right-column {
        margin-left: 0;
    }

    .left-column {
        display: none;
    }
}

@media screen and (max-width: 590px) {
    .social-row {
        width: 3em;
    }
}
