#toggle{
  height: 160px;
  width: 0px;
  background: lightgrey;
  float: right;
  margin: -61% 0;
  z-index: 2;
  position: relative;
  right: 3%;
  opacity: 0.9;
}

.toggle-me {
  background-color: black;
  color: white;
  float: right;
  position: absolute;
  right: -3%;
  bottom: 10%;
  border: 2px solid #ff6f6f;
  /*position: absolute;
  top: 3%; 
  right: -4%;*/
  transform: rotate(-90deg);
/*  margin-bottom: 3%;*/
}